---
import Layout from "../../layouts/Layout.astro";
import Profile from "../em/components/Profile.astro";
import PorfolioList from "./components/PorfolioList.astro";
---

<Layout title="💼 Germán A. Aliprandi">
  <main>
    <Profile />
    <PorfolioList />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
  }

  /* Print styles */
  @media only print {
    main {
      gap: 0;
    }
  }
</style>
