@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

html,
body {
  background-color: #fff;
  color: #333;
  font-family: 'Ubuntu', 'system-ui';
  font-weight: lighter;
  margin-bottom: 5em;
}

/* Common styles  */
:root {
  --main-color: teal;
}

.hide {
  display: none;
}
@media screen {
  .screen {
    display: block;
  }
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  .print {
    display: block;
  }
  .page-break {
    clear: both;
    page-break-after: always;
  }

  .developments {
    margin-bottom: 0;
  }
  section article {
    font-size: 14px;
  }
}
@page {
  size: A4;
  margin: 0;
}

/* ================= commons styles ======================== */
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  background-color: transparent;
  text-decoration: underline;
}
button.outlined {
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}
ul {
  list-style-type: none;
  padding: 0;
}
section article {
  margin: 2em auto;
}

/* ================= mobile menu ======================== */
.mobile-menu.hide {
  color: white;
  padding: 10px 0;
}
.mobile-menu ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

/* ===================== aside ======================== */
.aside-menu,
.aside-menu section {
  width: 240px;
}
.aside-menu {
  position: fixed;
  background: var(--main-color) !important;
  padding: 1em;
  color: white;
  line-height: 2.4em;
  font-size: 0.9em;
  min-height: 100vh;
}
.profile img {
  max-width: 100%;
}
.aside-menu .versions {
  text-align: center;
}
.aside-menu .info h3 {
  margin-top: 1em;
  margin-bottom: 0;
}
.aside-menu .info ul {
  margin: 0%;
}
/* ================= container ======================== */
body > .container {
  max-width: 1024px;
  margin: auto;
  display: flex;
}

/* ==================== main ======================== */
.container main {
  margin-left: 260px;
  background: white;
  padding: 0 2em;
}

.container main > section {
  margin-bottom: 2em;
}
.container main > section > div {
}

.container main section h3 {
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
  margin: 0;
}

/* ==================== about ======================== */
.about .title {
  font-weight: lighter;
  margin: 0;
}
.about .name {
  margin-bottom: 0.3em;
}

/* ==================== favorites ======================== */
.favorites ul {
  -moz-columns: 3;
  columns: 3;
}

/* ==================== developments ======================== */
.developments .github {
  text-align: center;
  display: block;
}

/* ==================== dev-cars ======================== */
.dev-card .container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 0 2em;
}
.dev-card .container img {
  width: 100%;
}
.dev-card .summary > * {
  margin: 0;
  line-height: 1.7em;
}
.dev-card .more-about {
  margin: 0.5em 3em;
}

/* ==================== employment history ======================== */

.employment .emp-card > * {
  margin: 10px 0;
}
.employment .emp-card h3 {
  padding: 0;
  border: 0;
  font-weight: normal;
}
