@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
    text-align: center;
  }
  .developments .item {
    flex-direction: column;
    align-items: center;
  }

  .developments .item > div {
    width: auto;
    text-align: center;
  }

  .mobileNav {
    display: flex;
  }

  aside {
    width: 100%;
  }

  aside img.picture {
    max-width: 75%;
  }

  main .github img {
    margin: 0;
  }
}
