---
import ExperienceItem from "../../../components/ExperienceItem.astro";
---

<section class="experience">
  <h3 class="upper">Experience</h3>
  <ExperienceItem
    position="Engineering Manager"
    companyName="Egg Live"
    companyUrl="https://egg.live"
    date="June 2022 to Present"
  >
    <p class="light small-in-print">
      As Engineering Manager at Egg Live, I lead the entire dev team, driving
      both team performance and individual growth through a structured Career &
      Performance Review plan. I foster a strong engineering culture through
      InnerSource practices, streamlined CI/CD pipelines, and standardized
      development processes—cutting incident resolution time by 30% and boosting
      system availability to 99.5%.
    </p>
    <p class="light small-in-print">
      I played a key role in designing and implementing AI solutions across the
      company, including the launch of an internal AI agent platform. I created
      a Development Guide to scale the team efficiently, while mentoring
      engineers into leadership roles. I stay hands-on—leading high-impact
      projects, writing code, and solving complex problems to accelerate
      delivery and maintain top-tier technical standards.
    </p>
  </ExperienceItem>

  <div class="break-page"></div>

  <ExperienceItem
    position="Software Engineer"
    companyName="Egg Live"
    companyUrl="https://egg.live"
    date="June 2021 to June 2022 (1 yr)"
  >
    <p class="light small-in-print">
      Redesigned the core frontend using TanStack Query and WebSockets, enabling
      optimistic updates, real-time cache hydration, and 10x fewer API
      calls—improving UX and reducing Kubernetes load. Expanded test coverage
      with Jest and Cypress to boost software quality.
    </p>
    <p class="light small-in-print">
      Co-designed a bootcamp with HR to train 5 junior devs; we built the
      BackOffice from scratch and integrated all into the team. Also built a
      login system with AWS Lambda + SQS, scaling smoothly to 40k+ daily
      sign-ups.
    </p>
  </ExperienceItem>

  <ExperienceItem
    position="Frontend Engineer"
    companyName="Gadget"
    companyUrl="https://g.co/kgs/U67SYgf"
    date="Apr 2010 to June 2021 (9 yrs 9 mos)"
  >
    <p class="light small-in-print">
      Led the end-to-end development and deployment of the company's SaaS
      platforms, handling UI architecture, feature design, and performance
      optimization. Maintained 98.7% uptime and long-term product stability
      while implementing modern frontend practices and ensuring cross-browser
      compatibility. Collaborated closely with design, QA, and backend teams to
      deliver consistent, scalable user experiences.
    </p>
  </ExperienceItem>

  <ExperienceItem
    position="IT Sales Manager"
    companyName="Luis Brunelli y Cía S.R.L."
    companyUrl="https://www.brunelli.com.ar/empresa/"
    date="Jul 2005 to Dec 2009 (4 yrs 6 mos)"
    className="no-print"
  />
</section>
