<section class="education">
  <h3 class="upper">Education</h3>

  <p class="light small-in-print">
    Technical High School in Electronics – EET N° 654 "N. Avellaneda" Gained
    solid foundations in electronic systems, circuit design, and hardware
    troubleshooting.
  </p>
  <p class="light small-in-print">
    Taught computer science at EESO N° 252 "Gral. San Martin" and various
    programming bootcamps, guiding students in hardware, software, and modern
    development practices, and inspiring careers in tech.
  </p>
</section>
