<section class="education">
  <h3 class="upper">Education</h3>

  <p class="light small-in-print">
    Graduated as *Bachiller Técnico en Electrónica* from EET N° 654, with skills
    in circuits, electronic systems, and hardware troubleshooting. Taught
    computer science at EESO N° 252, covering hardware/software basics and
    motivating students toward tech careers. Also led multiple programming
    courses and bootcamps, fostering new tech talent.
  </p>
</section>
