<p>
Santafesino exiliado en Tucumán, actualmente con 40 crudos inviernos en las espaldas, una esposa, dos hijos, varios trabajos e innumerables quilombos en el mate.
Mi principal objetivo a corto plazo es armar, desde cero y con mis propias manos, una bicicleta y disfrutar de lo qué tengo, qué no es poco. 
No hay una sola cosa que me defina completamente, así que voy a enumerar varias que son significativas para mi: la fotografía, el padel, arreglar cosas, programar, vender electrónica, asesorar (eso también me gusta), el café y la ropa informal. En ese orden aproximado. 
Ateo, Apolítico , Asintomático, Abstracto, Arrogante, Acostumbrado, son algunas de las palabras que me definen con la letra A. 
</p>

