<section class="skill">
  <h3 class="upper">Certificates</h3>
  <ul class="light">
    <li>Leadership: Engineering Management - <small>03/2022</small></li>
    <li>React.Js - <small>05/2021</small></li>
    <li>Python - <small>08/2020</small></li>
  </ul>
</section>
