---
import IconEmail from "../Icons/IconEmail.astro";
import IconLinkedin from "../Icons/IconLinkedin.astro";
import IconGithub from "../Icons/IconGithub.astro";
import IconNPM from "../Icons/IconNPM.astro";
---

<section class="contact">
  <h3 class="upper">Contact</h3>

  <div>
    <IconEmail />
    <a href="mailto:galiprandi@gmail.com" title="Email" class="light"
      >galiprandi@gmail.com</a
    >
  </div>

  <div>
    <IconLinkedin />
    <a
      href="https://www.linkedin.com/in/galiprandi"
      title="LinkedIn profile"
      target="_blank"
      class="light">/in/galiprandi</a
    >
  </div>

  <div>
    <IconGithub />
    <a
      href="https://github.com/galiprandi"
      title="GitHub profile"
      target="_blank"
      class="light">/galiprandi</a
    >
  </div>

  <div>
    <IconNPM />
    <a
      href="https://www.npmjs.com/~galiprandi"
      title="NPM profile"
      target="_blank"
      class="light">~galiprandi</a
    >
  </div>
</section>

<style>
  .contact > div {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 1em 0;
  }

  /* Screens less than 900px */
  @media only screen and (max-width: 900px) {
    .contact > div {
      justify-content: center;
    }
  }

  /* Print styles */
  @media only print {
    .contact > div {
      margin: 0.7em 0;
    }

    h3 {
      margin-top: 0.5em;
    }
  }
</style>
