<section class="skill">
  <h3 class="upper">Contributions</h3>
  <ul class="light">
    <li>
      <a
        href="https://www.npmjs.com/package/fastify-lm"
        target="_blank"
        rel="noopener noreferrer">fastify-lm</a
      >
    </li>
    <li>
      <a
        href="https://github.com/galiprandi/mcp-vs-fnc"
        target="_blank"
        rel="noopener noreferrer">mcp-vs-fnc</a
      >
    </li>
    <li>
      <a
        href="https://axioma.run"
        target="_blank"
        rel="noopener noreferrer">Axioma</a
      >
    </li>
  </ul>
</section>
