<section class="skill">
  <h3 class="upper">Contributions</h3>
  <ul class="light">
    <li>
      <a
        href="https://www.npmjs.com/package/fastify-lm"
        target="_blank"
        rel="noopener noreferrer">fastify-lm</a
      >: connect multiple LLM providers (OpenAI, Claude, Google, Deepseek, and
      more).
    </li>
    <li>
      <a
        href="https://www.npmjs.com/package/@galiprandi/react-tools"
        target="_blank"
        rel="noopener noreferrer">react-tools</a
      >
      : a set of lightweight React utilities and components.
    </li>
    <li>
      <a
        href="https://www.npmjs.com/package/@galiprandi/array-tools"
        target="_blank"
        rel="noopener noreferrer">array-tools</a
      >: performant JavaScript utilities for SQL-like operations on arrays.
    </li>
  </ul>
</section>
