<section class="skill">
  <h3 class="upper">Skills</h3>
  <ul class="light">
    <li>AI-Powered Solutions</li>
    <li>Engineering Leadership</li>
    <li>Process Optimization</li>
    <li>Software Architecture</li>
    <li>Stakeholder Management</li>
    <li>Agile Delivery</li>
  </ul>
</section>
