<section class="skill">
  <h3 class="upper">Skills</h3>
  <ul class="light">
    <li>Agile Methodologies</li>
    <li>Cultural Promotion</li>
    <li>Development & Architecture</li>
    <li>DevOps Practices</li>
    <li>Cloud Computing</li>
    <li>Leadership & Management</li>
    <li>Proficiency in Spanish and English</li>
    <li>Stakeholder Collaboration</li>
    <li>Team Building & Mentorship</li>
  </ul>
</section>
