<section class="skill">
  <h3 class="upper">Skills</h3>
  <ul class="light">
    <li>Leadership & Management</li>
    <li>Strategic Planning</li>
    <li>Problem-Solving</li>
    <li>Team Leadership & Mentorship</li>
    <li>People Management</li>
    <li>Stakeholder Management</li>
    <li>Software Development & Architecture</li>
    <li>Agile Development</li>
    <li>Proficiency in Spanish and English</li>
    <li>Cultural Promotion</li>
  </ul>
</section>
