<section class="stack">
  <h3 class="upper">Tech Stack</h3>
  <ul class="light">
    <li>AWS, Kubernetes, Docker</li>
    <li>Node.js, Express.js, Fastify</li>
    <li>React, Next.js, Astro</li>
    <li>MongoDB, SQL, Redis</li>
    <li>Cypress, Playwright, Jest</li>
    <li>Datadog, Grafana</li>
    <li>TypeScript, Python, Go</li>
  </ul>
</section>
