<section class="stack">
  <h3 class="upper">Tech Stack</h3>
  <ul class="light">
    <li>TypeScript, JavaScript</li>
    <li>React, Next.js, Astro</li>
    <li>Node.js, Express.js, Fastify</li>
    <li>MongoDB, MySQL, Redis</li>
    <li>AWS, Docker, Kubernetes</li>
    <li>Cypress, Playwright, Vitest, Jest</li>
    <li>GitHub Actions, Datadog, Grafana</li>
  </ul>
</section>
