<section class="stack">
  <h3 class="upper">Tech Stack</h3>
  <ul class="light">
    <li><b>Frontend:</b> React.js, Next.js, Astro</li>
    <li><b>Backend:</b> Node.js, Express.js, Fastify</li>
    <li>
      <b>Cloud & DevOps:</b> CI/CD, AWS, Kubernetes, GitFlow
    </li>
    <li><b>Databases:</b> MongoDB, SQL, Redis</li>
    <li>
      <b>Testing</b> Cypress, Vitest, Playwright, Jest
    </li>
    <li>
      <b>Tools:</b> AI Assistant, Jira, ClickUp, Figma
    </li>
  </ul>
</section>
