<section class="stack">
  <h3 class="upper">Tech Stack</h3>
  <ul class="light">
    <li>JavaScript/TypeScript</li>
    <li>React/Next.js</li>
    <li>React</li>
    <li>Node/Express/Fastify</li>
    <li>Cypress/Playwright</li>
    <li>Datadog/Grafana</li>
    <li>AWS/Kubernetes/Docker</li>
    <li>MongoDB/SQL/Redis</li>
  </ul>
</section>
