---
import type { Fragment } from "astro/jsx-runtime";
import Education from "../../components/Education.astro";
import Experience from "./components/Experience.astro";
import Section from "../../components/Section.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout role="Software Engineer & Tech Lead">
  <main>
    <Section
      title="Profile"
      className="profile"
      content={[
        "Accomplished Software Engineer and Tech Lead with over 4 years of full-stack experience and a proven record of designing AI-driven systems and developer-first tooling.",
        "Proficient in TypeScript, OpenAI integration, DevOps automation, and observability, with demonstrated leadership in team culture, onboarding, and performance enhancement.",
      ]}
    />
    <Experience />
    <Education />
  </main>
</Layout>
