---
import type { Fragment } from "astro/jsx-runtime";
import Education from "../../components/Education.astro";
import Experience from "./components/Experience.astro";
import Section from "../../components/Section.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout role="Software Engineer & Tech Lead">
  <main>
    <Section
      title="Profile"
      className="profile"
      content={[
        "Tech leader with 20+ years of experience driving large-scale transformations. Expert in standardization, automation, and optimization, reducing time-to-production by 35% and accelerating time-to-market through scalable engineering practices.",
        "I build high-performance teams by fostering a culture of ownership, InnerSource, and business-aligned engineering, ensuring innovation, efficiency, and sustainable growth.",
      ]}
    />
    <Experience />
    <Education />
  </main>
</Layout>
