---
import Layout from '../layouts/Layout.astro'
import Profile from '../components/Profile.astro'
import Experience from '../components/Experience/Experience.astro'
import Education from '../components/Education.astro'
---

<Layout>
  <main>
    <Profile />
    <Experience />
    <Education />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
  }

  /* Print styles */
  @media only print {
    main {
      gap: 0;
    }
  }
</style>
