---
import Layout from '../layouts/Layout.astro'
import Profile from '../components/Profile.astro'
import Experience from '../components/Experience/Experience.astro'
import Education from '../components/Education.astro'
---

<Layout title="Germán Aliprandi">
  <main>
    <Profile />
    <Experience />
    <Education />
  </main>
</Layout>
