@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* Utility clases */
*,
::before,
::after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

.text-center {
  text-align: center;
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 400;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

html {
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Ubuntu", "system-ui";
  font-size: 1em;
  font-weight: 400;
  min-height: 100%;
  line-height: 2em;
  display: flex;
  margin: auto;
  max-width: 1024px;
}

aside {
  width: 34em;
  min-width: 290px;
  line-height: 3.5em;
  background-color: teal;
  color: #fff;
  font-weight: 300;
  padding: 1em;
}

aside h1,
aside ul {
  margin: 0;
}

aside img.picture {
  max-width: 100%;
}

.versions {
  line-height: 1.5;
}

aside .info > div {
  margin-top: 2em;
}

aside ul {
  list-style: none;
  padding: 0;
}

main {
  padding: 0 2em;
}

main > section {
  margin: 2.5em 0 0 0;
}

main > section > * {
  margin: 0;
}

main .about > p {
  margin-bottom: 1.2em;
}

.developments .item {
  margin: 2.5em 0 0 0;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
}

.developments .item > div {
  width: 48%;
}

.developments .item h3,
.developments .item p {
  margin: 0;
}

.developments .item img {
  width: 100%;
}

main .github {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .github img {
  width: 100px;
  margin-right: 3em;
}

@media screen {
  .screen {
    display: block;
  }
}

@media print {
  .print {
    display: block;
  }
}

@page {
  size: A4;
  margin: 0;
}
