<section class="education">
  <h3 class="upper">Education</h3>

  <p class="light small-in-print">
    With a formal education in electronics, I have continually expanded my
    expertise through self-directed learning. I hold a "Bachiller Técnico en
    Electrónica" from EET N° 654 "N. Avellaneda," where I gained expertise in
    electronic systems, circuit design, and hardware troubleshooting.
  </p>

  <p class="light small-in-print">
    Additionally, I taught computer science at EESO N° 252 "Gral. San Martin,"
    covering principles related to hardware and software and inspiring students
    to choose careers in technology.
  </p>
</section>
