<section class="education">
  <h3 class="upper">Education</h3>

  <p class="light small-in-print">
    I hold a "Bachiller Técnico en Electrónica" from EET N° 654 "N. Avellaneda,"
    where I gained expertise in electronic systems, circuit design, and hardware
    troubleshooting. Additionally, I taught computer science at EESO N° 252
    "Gral. San Martin," covering principles related to hardware and software and
    inspiring students to choose careers in technology.
  </p>
  <p class="light small-in-print">
    I have also taught a wide range of programming courses and bootcamps,
    further enhancing my teaching skills and contributing to the development of
    new tech professionals.
  </p>
</section>
