<section class="education">
  <h3 class="upper">Education</h3>

  <p class="light">
    With a formal education in electronics, I have continually expanded my
    expertise through self-directed learning.
  </p>
</section>
