---
import { Image } from 'astro:assets'
import profile from '../assets/profile_circle.png'
---

<header>
  <div class="title">
    <h1 class="upper">Germán A. Aliprandi</h1>
    <h2 class="upper light">Engineering Manager</h2>
  </div>
  <div class="image">
    <Image src={profile} alt="Germán Aliprandi" width={123} height={123} />
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
  }

  h1 {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: larger;
    font-weight: 400;
    margin: 0;
  }

  .image {
    padding-right: 1em;
  }

  /* Screens less than 900px */
  @media only screen and (max-width: 900px) {
    header {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
    }
  }

  /* Print */
  @media only print {
    header {
      padding: 1em 0;
    }

    .image {
      img {
        height: 100px;
        width: auto;
      }
    }
  }
</style>
