<section class="profile">
  <h3 class="upper">Profile</h3>
  <p class="light small-in-print">
    With over 20 years of experience leading tech teams, I have driven
    significant improvements in both processes and organizational culture. I
    have standardized, optimized, and automated major aspects of the development
    and deployment process, reducing the time to production for new features by
    35% and enhancing overall product quality. This transformation not only
    accelerated our time to market but also increased product stability and
    maintainability. Additionally, I fostered a collaborative culture and a
    sense of ownership among team members by gradually introducing InnerSource
    principles and other best practices.
  </p>
  <p class="light small-in-print">
    My leadership approach has consistently aligned technological initiatives
    with business goals, driving innovation and sustainable growth.
  </p>
</section>

<style>
  p {
    margin: 0.8em 0;
  }
</style>
