<section class="profile">
  <h3 class="upper">Profile</h3>
  <p class="light small-in-print">
    With over 20 years of experience leading tech teams, I have driven
    significant improvements in both processes and organizational culture.
  </p>
  <p class="light small-in-print">
    I standardized, optimized, and automated much of the development and
    deployment flow, reducing the time to production for new features by 50% and
    enhancing overall product quality.
  </p>
  <p class="light small-in-print">
    This transformation not only accelerated our time to market but also
    increased product stability. Additionally,
  </p>
  <p class="light small-in-print">
    I fostered a collaborative culture and a sense of ownership among team
    members by gradually introducing InnerSource principles and other best
    practices.
  </p>
  <p class="light small-in-print">
    My leadership approach has consistently aligned technological initiatives
    with business goals, driving innovation and sustainable growth.
  </p>
</section>
<style>
  p {
    font-size: 0.95em;
  }

  @media print {
    .p {
      font-size: 80%;
    }
  }
</style>
