<section class="profile">
  <h3 class="upper">Profile</h3>
  <p class="light small-in-print">
    Engineering Manager with over 20 years of experience leading technical teams
    and driving impactful results through process transformation and cultural
    evolution. With a proven ability to optimize development cycles and reduce
    time-to-market by 35%, I specialize in fostering collaborative,
    high-performing teams using InnerSource principles and best practices. My
    leadership focuses on aligning technology initiatives with business
    objectives, ensuring scalable, sustainable growth while delivering
    exceptional value to stakeholders. I am passionate about building resilient,
    maintainable systems and driving innovation that directly impacts user
    satisfaction and company success.
  </p>
</section>

<style>
  p {
    margin: 0.8em 0;
  }
</style>
