---
import ExperienceItem from "./ExperienceItem.astro";
---

<section class="experience">
  <h3 class="upper">Experience</h3>
  <ExperienceItem
    position="Engineering Manager"
    companyName="Egg Live"
    companyUrl="https://egg.live"
    date="June 2022 to Present"
  >
    Lead a 20-engineer team, doubling efficiency—5 engineers now deliver what
    previously took 10. Optimized CI/CD, cutting build times from 15 min to 4
    min across 10 apps by parallelizing processes. Designed a scalable
    architecture, reducing infrastructure costs. Led the development of our LMS,
    enhancing scalability, and the BackOffice, driving full adoption internally.
    Automated key workflows, integrating Gitflow with Jira, development scripts,
    and end-to-end tests with Cypress and Playwright.
  </ExperienceItem>

  <div class="break-page"></div>

  <ExperienceItem
    position="Software Engineer"
    companyName="Egg Live"
    companyUrl="https://egg.live"
    date="June 2021 to June 2022 (1 yr)"
  >
    Led a team of 5 engineers to build the company's BackOffice from scratch,
    now critical to daily operations. Designed and implemented authentication,
    handling 10,000+ users in 2 years. Optimized performance by integrating
    cache hydration, WebSockets, and TanStack Query, cutting backend requests by
    70%. Improved CI/CD pipeline, reducing build times 5x. Built bulk user
    processing with AWS SQS and Lambda, handling 40,000 users/day, and
    integrated key services like DLocal, Hubspot, and MercadoPago. Tech:
    TypeScript, Next.js, Node.js, Fastify, Zod, Prisma, Cypress, MySQL, Redis.
  </ExperienceItem>

  <ExperienceItem
    position="Frontend Engineer"
    companyName="Gadget"
    companyUrl="https://g.co/kgs/U67SYgf"
    date="Apr 2010 to June 2021 (9 yrs 9 mos)"
  >
    I was in charge of the development and deployment of the company's
    applications and software as a service for more than 9 years, achieving an
    uptime record of 98.7%.
  </ExperienceItem>

  <ExperienceItem
    position="IT Sales Manager"
    companyName="Luis Brunelli y Cía S.R.L."
    companyUrl="https://www.brunelli.com.ar/empresa/"
    date="Jul 2005 to Dec 2009 (4 yrs 6 mos)"
  />
</section>
