---
// Usage: <ExperienceItem position="Engineering Manager" companyName="Egg Live" companyUrl="..." date="June 2022 to Present" desc="..." />

const { position, companyName, date, companyUrl, className } = Astro.props;
---

<div class={`item ${className ?? ""}`}>
  <h3 class="position light">{position}</h3>
  <p class="company light">
    <a href={companyUrl} target="_blank" rel="noopener noreferrer"
      >{companyName}</a
    > - {date}
  </p>
  <div class="small-in-print">
    <slot />
  </div>

  <style>
    .item {
      position: relative;
      padding-left: 1.5em;
      border-left: 0.13em solid var(--color-texts-ligth);
      color: var(--color-texts-ligth);
      margin-left: 0.4em;

      &::before {
        content: "o";
        height: 1.5em;
        background-color: var(--color-bg);
        position: absolute;
        left: -0.34em;
        top: -0.15em;
        font-size: 1.5em;
      }
    }

    .position {
      font-weight: 600;
      margin-bottom: 0.2em;
    }

    .company {
      font-weight: 500;
      font-size: 95%;
      margin: 0.5em 0;
    }

    .desc {
      font-size: 0.95em;
    }

    /* Screens less than 900px */
    @media only screen and (max-width: 900px) {
      .item {
        margin: 2em 0;
        padding: 0;
        border-left: 0;

        &::before {
          display: none;
        }
      }

      .position {
        font-size: 1.1em;
      }

      .company {
        font-size: 90%;
      }
    }

    /* Print styles */
    @media only print {
      .item {
        padding-left: 0;
        border-left: 0;
        margin-left: 0;

        &::before {
          display: none;
        }
      }
    }
  </style>
</div>
