---
import ExperienceItem from './ExperienceItem.astro'
---

<section class="experience">
  <h3 class="upper">Experience</h3>
  <ExperienceItem
    position="Engineering Manager"
    companyName="Egg Live"
    companyUrl="https://egg.live"
    date="June 2022 to Present"
  >
    As Engineering Manager at Egg Live, I lead the entire development team,
    overseeing daily activities with a special focus on the health and growth of
    each member. I direct our "Career & Performance Review" growth plan,
    promoting the individual development of each engineer. Additionally, I enjoy
    fostering the company culture, focusing on the performance and productivity
    of each member without sacrificing their well-being or growth, always
    seeking maximum team cohesion.

    <p>
      <b>Key Accomplishments and Responsibilities:</b>
      <ul>
        <li>
          <b>InnerSource Culture:</b> Promoted collaboration, code reuse, and cross-code
          reviews within the team, reducing development time by 20%, homogenizing
          functionalities, and resulting in the most effective tool for knowledge
          distribution.
        </li>

        <li>
          <b>Standardizing and Automating CI/CD Processes:</b> Implemented automated
          processes that increased team efficiency by 25% and reduced integration
          conflicts by 70%.
        </li>

        <li>
          <b>Standardizing the Complete Development Cycle:</b> Defined and standardized
          all development protocols and processes from backlog to production deployment,
          reducing time spent on team management and supervision by 50%, increasing
          my time dedicated to coding and task resolution by 50%, and improving the
          overall delivery capacity of the area by 4.5%.
        </li>

        <li>
          <b>Developing the "Development Guide":</b> Created a guide that establishes
          most of the development area’s processes, simplifying decision-making and
          preparing the team for organic and efficient expansion without sacrificing
          current performance.
        </li>

        <li>
          <b>Reducing Incident Resolution Time:</b> Implemented protocols that achieved
          a 30% reduction in incident resolution time and increased system availability
          to 99.5%.
        </li>

        <li>
          <b>Delivering High-Impact Projects:</b> Led critical projects that directly
          impacted company revenues and user retention and satisfaction.
        </li>

        <li>
          <b>Team Mentorship and Development:</b> Lead and oversee the training and
          professional development of the entire engineering team, achieving a 90%
          retention rate and promoting 3 team members to technical leadership roles
          in the past year.
        </li>

        <li>
          <b>Hands-On Approach:</b> Maintain a hands-on approach by actively engaging
          in coding and solving complex problems, which has helped uphold high-quality
          standards and accelerate delivery times.
        </li>
      </ul>
    </p>
  </ExperienceItem>

  <div class="page-break"></div>

  <ExperienceItem
    position="Software Engineer"
    companyName="Egg Live"
    companyUrl="https://egg.live"
    date="June 2021 to June 2022 (1 yr)"
  >
    I was key in redesigning the architecture of the Course and User Management
    application, implementing TanStack Query, an asynchronous server-side state
    management architecture that reduced load times by 80% and server requests
    by 70%. This implementation leveraged Client-Side Cache and Optimistic
    Updates, significantly enhancing the user experience, simplifying the
    creation and maintenance of new functionalities, and greatly reducing the
    likelihood of development errors. A milestone I am particularly proud of was
    the design and development of the BackOffice, a key application for the
    company, built from scratch. In this project, I led a team of 6 trainee
    developers for 6 months, resulting in the professional growth of all team
    members. By the end of this period, all engineers became integral members of
    the development team, while I was promoted to Engineering Manager. During
    this period at the company, I implemented cutting-edge full-stack
    technologies such as TypeScript, Next.js, Node.js, Fastify, Cypress, MySQL,
    MongoDB and Redis, resulting in increased system efficiency and an optimized
    user experience. Additionally, I established an automated testing suite with
    Cypress and Jest, increasing test coverage and reducing production errors by
    25%, ensuring the stability and reliability of applications. I collaborated
    closely with design and product teams to align technical solutions with
    business objectives and the needs of stakeholders.

    <p>
      <b>Technologies & Skills:</b> TypeScript, React.js, TanStack Query, Next.js,
      Node.js, Fastify, Cypress, Jest, MySQL, MongoDB, Redis, Architecture Redesign,
      Performance Optimization, Full-Stack Development, Automated Testing, Cross-Functional
      Collaboration, Kubernetes on AWS Infrastructure, Team Leadership, Budget Management,
      Teamwork.
    </p>
  </ExperienceItem>

  <ExperienceItem
    positn="Fntend Engineer"
    companyName="Gadget"
    companyUrl="https://g.co/kgs/U67SYgf"
    date="Apr 2010 to June 2021 (9 yrs 9 mos)"
    >For over 9 years, I led the development and implementation of the company's
    SaaS applications, focusing on creating modern, responsive, and user-centric
    UI/UX interfaces. I implemented an automated testing suite that reduced bug
    incidence by 70% and shortened production deployment times by 40%.
    Additionally, integrating a CDN through Google Cloud Platform increased
    availability to 98.7% and decreased average latency from 650 ms to 120 ms,
    improving performance by over 80% and resulting in a significantly superior
    user experience. A key milestone was migrating the company's main
    application from jQuery to React, streamlining the deployment of new
    features and reducing launch time by 250%. Concurrently, I introduced CI/CD
    practices (GitHub & GCP) that optimized and automated the continuous
    integration and delivery process, ensuring rapid adaptation to business
    needs.

    <p>
      <b>Technologies & Skills:</b> React.js, Google Cloud Platform, CDN, Legacy
      Application Migration to Modern Technologies, User-Driven Development (UDD),
      CI/CD (GitHub & GCP), Unit Testing (Jest).
    </p>
  </ExperienceItem>

  <ExperienceItem
    position="IT Sales Manager"
    companyName="Luis Brunelli y Cía S.R.L."
    companyUrl="https://www.brunelli.com.ar/empresa/"
    date="Jul 2005 to Dec 2009 (4 yrs 6 mos)"
  >
    In this role, I created an IT sales unit from the ground up, increasing
    monthly revenue from $0 to $4.2 million over 5 years, while achieving an
    average annual growth rate of 110%. I expanded coverage from 1 to 15
    provinces in Argentina, optimized the selection of more than 100 SKUs, and
    implemented marketing strategies that increased monthly conversions by over
    20%. Additionally, I managed national and international procurement with an
    average monthly volume of $2 million, reduced the inventory turnover cycle
    to under 20 days, and oversaw key accounts responsible for 47% of the unit’s
    revenue. By the end of this period, the IT division ranked among the
    country’s top 15 suppliers, establishing a solid foundation for regional
    expansion.
    <p>
      <b>Technologies & Skills:</b> Resource planning, Budget management, Financial
      forecasting, Objective setting and tracking, High-volume account management
      (47% of revenue), National expansion with regional projections.
    </p>
  </ExperienceItem>
</section>

<style>
  .page-break {
    page-break-after: always;
  }
</style>
