---
import ExperienceItem from './ExperienceItem.astro'
---

<section class="experience">
  <h3 class="upper">Experience</h3>
  <ExperienceItem
    position="Engineering Manager"
    companyName="Egg Live"
    companyUrl="https://egg.live"
    date="June 2022 to Present"
  >
    As Engineering Manager, I oversee all development, ensuring optimal
    performance and fostering collaboration among team members while
    prioritizing their well-being. I've developed strategies to enhance system
    maintainability and resilience by implementing best development practices
    and DevOps principles.
    <br />
    My key accomplishments include standardizing development processes and Gitflow,
    promoting an InnerSource culture, and delivering high-impact projects for the
    company.
  </ExperienceItem>

  <ExperienceItem
    position="Software Engineer"
    companyName="Egg Live"
    companyUrl="https://egg.live"
    date="June 2021 to June 2022"
  >
    Redesigned the application architecture, achieving a more than 50% reduction
    in load times and a 70% decrease in server requests. I led the development
    of a new BackOffice and implemented cutting-edge full-stack technologies
    such as TypeScript, Next.js, Node.js, Fastify, Cypress, MySQL, and Redis.
  </ExperienceItem>

  <ExperienceItem
    position="Frontend Engineer"
    companyName="Gadget"
    companyUrl="https://g.co/kgs/U67SYgf"
    date="Apr 2010 to June 2021"
  >
    I was in charge of the development and deployment of the company's
    applications and software as a service for more than 9 years, achieving an
    uptime record of 98.7%.
  </ExperienceItem>

  <ExperienceItem
    position="IT Sales Manager"
    companyName="Luis Brunelli y Cía S.R.L."
    companyUrl="https://www.brunelli.com.ar/empresa/"
    date="Jul 2005 to Dec 2009"
    className="no-print"
  />
</section>

<style>
  .experience {
    margin-top: 2.5em;
  }

  @media only print {
    .experience {
      margin-top: 1em;
    }
  }
</style>
