---
import ExperienceItem from "./ExperienceItem.astro";
---

<section class="experience">
  <h3 class="upper">Experience</h3>
  <ExperienceItem
    position="Engineering Manager"
    companyName="Egg Live"
    companyUrl="https://egg.live"
    date="June 2022 to Present"
  >
    <p class="light small-in-print">
      Scaled and optimized a 20-engineer team, doubling delivery efficiency.
      Improved CI/CD pipelines, cutting build times 73% (15 min → 4 min) across
      10 applications through advanced parallelization.
    </p>
    <p class="light small-in-print">
      Architected a cost-efficient, scalable infrastructure, reducing cloud
      expenses while enhancing performance. Led the development of a highly
      scalable LMS, a fully adopted BackOffice, and an AI agent creation API,
      streamlining internal operations. Automated engineering workflows,
      integrating Gitflow, Jira, and E2E testing to drive development velocity.
    </p>
  </ExperienceItem>

  <div class="break-page"></div>

  <ExperienceItem
    position="Software Engineer"
    companyName="Egg Live"
    companyUrl="https://egg.live"
    date="June 2021 to June 2022 (1 yr)"
  >
    <p class="light small-in-print">
      Led a 5-engineer team to build the company’s BackOffice from scratch, now
      a mission-critical platform. Designed and implemented scalable
      authentication, supporting 10,000+ users in 2 years.
    </p>
    <p class="light small-in-print">
      Reduced backend load 70% through cache hydration, WebSockets, and TanStack
      Query optimizations. Accelerated CI/CD pipelines, cutting build times 5x.
      Developed a high-throughput bulk user processing system with AWS SQS and
      Lambda, handling 40,000 users/day. Integrated key financial and CRM
      services (DLocal, Hubspot, MercadoPago) to streamline transactions and
      customer engagement
    </p>
  </ExperienceItem>

  <ExperienceItem
    position="Frontend Engineer"
    companyName="Gadget"
    companyUrl="https://g.co/kgs/U67SYgf"
    date="Apr 2010 to June 2021 (9 yrs 9 mos)"
  >
    <p class="light small-in-print">
      Led the end-to-end development and deployment of the company's SaaS
      platforms for 9+ years, ensuring 98.7% uptime and long-term product
      stability.
    </p>
  </ExperienceItem>

  <ExperienceItem
    position="IT Sales Manager"
    companyName="Luis Brunelli y Cía S.R.L."
    companyUrl="https://www.brunelli.com.ar/empresa/"
    date="Jul 2005 to Dec 2009 (4 yrs 6 mos)"
  />
</section>
