---
import Layout from "../../layouts/Layout.astro";
import PortfolioList from "./components/PortfolioList.astro";
---

<Layout
  title="💼 Germán A. Aliprandi"
  role="Projects & Open Source Contributions"
>
  <main>
    <PortfolioList />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
  }

  /* Print styles */
  @media only print {
    main {
      gap: 0;
    }
  }
</style>
